{% extends 'basic.html' %}

{% block body %}
        <!-- banner -->
        <div class="banner-bg-inner">
            <!-- banner-text -->
            <div class="banner-text-inner">
                <div class="container">
                    <h2 class="title-inner">
                        About us
                    </h2>

                </div>
            </div>
            <!-- //banner-text -->
        </div>
        <!-- //banner -->
        <!-- breadcrumbs -->
        <div class="crumbs text-center">
            <div class="container">
                <div class="row">
                    <ul class="btn-group btn-breadcrumb bc-list">
                        <li class="btn btn1">
                            <a href="index.html">
                                <i class="glyphicon glyphicon-home"></i>
                            </a>
                        </li>
                        <li class="btn btn2">
                            <a href="about.html">About us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--//breadcrumbs ends here-->
        <!-- about -->
       
        <!-- //about ends here -->
        <!-- about bottom -->
        
        <!--//about bottom ends here-->
        <!-- team -->
        
        <!-- //testimonials-->
        <!-- footer-layouts -->
        <div class="addon-sec section">
            <div class="container">
              <div class="col-md-6">
				<p align="justify">Abstract</p>
			  </div>
			  <div class="col-md-6">
				<p align="justify">Abstract</p>
			  </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //footer-layouts -->
{% endblock %}