{% extends 'basic.html' %}

{% block title %}Password reset complete{% endblock %}

{% block css %}
<style>
	.presetcomplete{
		margin: 5% 25% 5% 25%;
	}
</style>
{% endblock %}

{% block body %}
<!-- banner -->
        <div class="banner-bg-inner">
            <!-- banner-text -->
            <div class="banner-text-inner">
                <div class="container">
                    <h2 class="title-inner">
                       Forget Password
                    </h2>

                </div>
            </div>
            <!-- //banner-text -->
        </div>
<div class="presetcomplete">
	<h1>Password reset complete</h1>
	<p>Your new password has been set. You can log in now on the <a href="/login/">log in page</a>.</p>
</div>
{% endblock %}